<p>
<%= t '.title', :user_name => @room.title %>
</p>

<p><%= t '.location', :location => @room.location %>
</p>

<p><%= t '.description', :description => @room.description %>
</p>

<%= link_to t('.edit'), edit_room_path(@room) %> |
<%= link_to t('.back'), rooms_path %>
